.dot {
    border-radius: 100px;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    margin: 0.1rem;
}

#ndotsDestructor {
    width: 8rem;
    font-size: x-large;
    border-radius: 10px;
    display: inline;
}

#ndots {
    width: 8rem;
    font-size: x-large;
    border-radius: 10px;
    display: inline;
}

#draw {
    padding: 1.5rem;
    float: left;
    width: 40%;
}

#drawDestructor {
    padding: 1.5rem;
    float: right;
    width: 40%;
}

#control {
    padding: 0.5rem;
}

#detonation {
    margin-left: 1rem;
    width: 8rem;
    font-size: x-large;
    border-radius: 10px;
    display: inline;
    background-color: #993333;
    color: white;
}

input[type=number] {
    /*for absolutely positioning spinners*/
    position: relative; 
    padding: 5px;
    padding-right: 25px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
  }

  input[type=number]::-webkit-outer-spin-button, 
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
