/*** General***/

/**Star wars***/

@font-face {
    font-family: roboto;
    src: url(../public/fonts/Roboto-Bold.ttf);
}

html{
    font-family: roboto;
    font-size: x-large;
}
header{
    background-color:  grey;
    height: 3rem;
}

nav
{
    float: center;
    padding: 0.5rem;

}

nav a{
    padding: 0 1rem;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: #333;
    width: 100%;
    height: 4rem;
    color: white;
    display :flex;
    justify-content: center;
    box-sizing :border-box;
    padding: 1.6rem;

}

.grid-container{
    display: grid;
    gap: 4rem;
    padding: 1rem;
    height: 100%;

}
.grid-item{
    padding: 1rem;

}
#description{
    background-color: blue;
    grid-column: 1/2;
    grid-row: 1/1;
}

@keyframes crazy {
    from{filter: saturate(0);}
    25%{filter:saturate(2)}
    50%{filter:saturate(4)}
    75%{filter:saturate(2)}
    to{filter: saturate(0);}
}

#animation{
    background-color: red;
    grid-column: 1/1;
    grid-row: 2/2;
    background-image: url(../public/images/main.jpg);
    background-size: auto 100%;
    background-repeat:  no-repeat;
    background-position: center top;
    animation: crazy 5s;
}

#members{
    grid-column: 2/2;
    grid-row: 2/2;
    background-color: green;
}
.primaryText{
    margin:1rem;
}
.secondaryText{
    color:rgb(88,88,88);
}
.member img{
    border-radius: 20 px;
    width: 4rem;
    text-align: center;
    margin:auto;
    display:block;
}

.member p{
    text-align: center;
}


